.nav-container1 {
  height: 100px;
  background-color: #2c0e3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-img {
  height: 70px;
  width: 150px;
  margin-left: 50px;
}
.matchGameContainer {
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
* {
  color: #ffffff;
  font-size: medium;
  font-weight: bold;
}
.orange-color {
  color: #fec653;
  font-weight: bold;
  font-size: medium;
}
.timer-img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
